body
{
  background-color: rgb(17 24 39) !important;
  font-family: 'Cabin Condensed', sans-serif !important;
   font-family: 'Lato', sans-serif;
   font-size: 26px !important;
}
.bgc-dark-blue 
{
    background-color: rgb(17 24 39) !important;
}